body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u1 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:470px;
  top:650px;
  width:140px;
  height:140px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u3 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:250px;
  top:850px;
  width:130px;
  height:90px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
