body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:50px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:1050px;
  width:60px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:680px;
  top:0px;
  width:640px;
  height:1136px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u7 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1340px;
  top:0px;
  width:640px;
  height:1136px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u9 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:2030px;
  top:0px;
  width:640px;
  height:1136px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u11 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:2700px;
  top:0px;
  width:640px;
  height:1136px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u13 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:2910px;
  top:1190px;
  width:193px;
  height:37px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:722px;
  top:1172px;
  width:545px;
  height:148px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:148px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:497px;
  top:676px;
  width:129px;
  height:37px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:2445px;
  top:603px;
  width:225px;
  height:37px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1485px;
  top:983px;
  width:321px;
  height:37px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:37px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:20px;
  top:1146px;
  width:129px;
  height:37px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:700px;
  top:800px;
  width:161px;
  height:74px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:74px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:2207px;
  top:750px;
  width:257px;
  height:74px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:74px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
