body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:651px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u1 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:450px;
  width:580px;
  height:110px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:47px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:346px;
  top:119px;
  width:305px;
  height:366px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:366px;
}
#u5 {
  position:absolute;
  left:2px;
  top:175px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:551px;
  top:60px;
  width:100px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:370px;
  top:230px;
  width:160px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
