body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u1 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:50px;
  width:100px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:360px;
  top:660px;
  width:220px;
  height:90px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:360px;
  top:780px;
  width:200px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:770px;
  width:220px;
  height:80px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:340px;
  top:880px;
  width:220px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
