body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:670px;
  top:0px;
  width:640px;
  height:960px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u1 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u3 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:250px;
  top:850px;
  width:140px;
  height:90px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:761px;
  top:849px;
  width:140px;
  height:90px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1050px;
  top:849px;
  width:190px;
  height:81px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:81px;
}
#u9 {
  position:absolute;
  left:2px;
  top:32px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:730px;
  top:594px;
  width:517px;
  height:74px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:74px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  white-space:nowrap;
}
