body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u1 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:10px;
  width:100px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
