body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1316px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:676px;
  top:-10px;
  width:640px;
  height:960px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u1 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u3 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:71px;
  top:1013px;
  width:449px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  visibility:hidden;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:190px;
  top:490px;
  width:230px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:147px;
  top:1013px;
  width:531px;
  height:259px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:259px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:781px;
  top:1002px;
  width:499px;
  height:222px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:222px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:400px;
  top:723px;
  width:257px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
