body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u1 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:260px;
  top:1020px;
  width:65px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:467px;
  top:650px;
  width:150px;
  height:130px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:130px;
}
#u5 {
  position:absolute;
  left:2px;
  top:57px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:70px;
  width:160px;
  height:80px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:250px;
  top:850px;
  width:130px;
  height:90px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:37px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:840px;
  width:120px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
