<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v2tech"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.v2tech.view.MainApplication"
        android:allowBackup="true"
        android:debuggable="true"
          android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher"
       >
        <service android:name="com.v2tech.view.JNIService" >
        </service>

        <provider
            android:name="com.v2tech.db.V2techContentProvider"
            android:authorities="com.v2tech.bizcom" />

        <activity
            android:name="com.v2tech.view.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.conference.VideoActivityV2"
            android:configChanges="orientation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.ContactDetail"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.Conversation"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
            <intent-filter>
                <action android:name="com.v2tech.start_conversation_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity android:name="com.v2tech.view.conversation.VideoConversation" >
            <intent-filter>
                <action android:name="com.v2tech.start_video_conversation_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity android:name="com.v2tech.view.conversation.ImageViewGallery" >
            <intent-filter>
                <action android:name="com.v2tech.image_gallery" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.MainActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
    </application>

</manifest>