<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v2tech"
    android:sharedUserLabel="@string/app_name"
    android:versionCode="2"
    android:versionName="4.0.0.37" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.v2tech" >
    </instrumentation>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name="com.v2tech.view.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <service android:name="com.v2tech.view.JNIService" >
        </service>
        <service android:name="com.v2tech.util.LogService" 
                 android:process=":Server">
        </service>
        <service android:name="com.v2tech.service.ConferencMessageSyncService" >
        </service>
        <service android:name="com.v2tech.view.conversation.FileService" >
        </service>

        <provider
            android:name="com.v2tech.db.provider.V2techContentProvider"
            android:authorities="com.v2tech.bizcom"
            android:exported="false" />

        <activity
            android:name="com.v2tech.view.StartupActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.conference.ConferenceCreateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
            <intent-filter>
                <action android:name="com.v2tech.start_conference_create_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.LoginActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
        </activity>
        <activity
            android:name="com.v2tech.view.conference.ConferenceActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.ContactDetail"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>
                <action android:name="com.v2tech.contact_detail_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.ConversationP2PTextActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName="com.v2tech.view.StartupActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.v2tech.start_conversation_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v2tech.view.StartupActivity" />
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.ConversationP2PAVActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.start_p2p_conversation_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.ImageViewGallery"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.image_gallery" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.MainActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>
            </intent-filter>
        </activity>
        <activity android:name="com.v2tech.view.SettingAuthenticationActivity" >
        </activity>
        <activity
            android:name="com.v2tech.view.AboutActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.start_about_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.SettingActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.start_setting_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.group.CrowdCreateActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="com.v2tech.start_group_create_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.message.MessageAuthenticationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.add.AuthenticationActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.add.FriendManagementActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.add.SelectGroupActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.ContactDetail2"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="com.v2tech.contact_detail_detail_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.ConversationSelectFile"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.ConversationSelectFileEntry"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.ConversationSelectImage"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.ContactsGroupManagerActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.UpdateContactGroupActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.group.CrowdInvitationActivity"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.jni.broadcast.crowd_invatition" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.group.CrowdApplicationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.crowd_application_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.group.CrowdDetailActivity"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.crowd_detail_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.group.CrowdContentUpdateActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="com.v2tech.crowd_content_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.group.CrowdMembersActivity"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.start_crowd_members_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.group.CrowdFilesActivity"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.start_crowd_files_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.VoiceMessageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.VoiceMessageDetailActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.QualificationMessageActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.group.CrowdApplicantDetailActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.search.SearchActivity"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.start_search_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.search.SearchedResultActivity"
            android:screenOrientation="nosensor" >
        </activity>

        <!-- For Discussion board -->

        <activity
            android:name="com.v2tech.view.group.DiscussionBoardMembersActivity"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.discussion_board_members_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.group.DiscussionBoardCreateActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="com.v2tech.discussion_board_create_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.group.DiscussionBoardDetailActivity"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.discussion_board_detail_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.group.DiscussionBoardTopicUpdateActivity"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.discussion_board_topic_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>

        <receiver android:name="com.v2tech.view.receiver.AvatarChangedReceiver" >
            <intent-filter>
                <action android:name="com.v2tech.jni.broadcast.user_avatar_notification" />

                <category android:name="com.v2tech.jni.broadcast" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.v2tech.view.receiver.CrowdQuitReceiver" >
            <intent-filter>
                <action android:name="com.v2tech.broadcast.crowd_quit_notification" />

                <category android:name="com.v2tech.jni.broadcast" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </receiver>
    </application>

</manifest>