<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v2tech"
    android:sharedUserLabel="@string/app_name"
    android:versionCode="1"
    android:versionName="1.3.0.71" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name="com.v2tech.view.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >

        <service android:name="com.v2tech.view.JNIService" >
        </service>
        
          <service android:name="com.v2tech.service.ConferencMessageSyncService" >
        </service>

        <provider
            android:name="com.v2tech.db.V2techContentProvider"
            android:authorities="com.v2tech.bizcom"
            android:exported="false" />

        <activity
            android:name="com.v2tech.view.StartupActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.conference.ConferenceCreateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
            <intent-filter>
                <action android:name="com.v2tech.start_conference_create_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.LoginActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
        </activity>
        <activity
            android:name="com.v2tech.view.conference.VideoActivityV2"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.ContactDetail"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.ConversationView"
            android:parentActivityName="com.v2tech.view.StartupActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.v2tech.start_conversation_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v2tech.view.StartupActivity" />
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.P2PConversation"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.start_p2p_conversation_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.ImageViewGallery"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.image_gallery" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.MainActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.AboutActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.start_about_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.SettingActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="com.v2tech.start_setting_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.group.GroupCreateActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="com.v2tech.start_group_create_activity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.v2tech.view.contacts.ContactDetail2"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.ConversationSelectFile"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.v2tech.view.conversation.ConversationSelectFileEntry"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
       

        <receiver android:name="com.v2tech.view.receiver.AvatarChangedReceiver" >
            <intent-filter>
                <action android:name="com.v2tech.jni.broadcast.user_avatar_notification" />

                <category android:name="com.v2tech.jni.broadcast" />
                <category android:name="com.v2tech" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
